<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loshop P-Uni Site</title>
  <link rel="stylesheet" href="../static/minecraft-css-framework-v-1.0.0.css">
</head>

<body class="bg-primary text-secondary">

  <!-- Navigation Bar -->
  <nav class="navbar">
    <div class="navbar-brand">p-Uni</div>
  </nav>

  <!-- Main Container -->
  <div class="container">

    <h2>Login</h2>
    <div class="col-6">
      <!-- Form Component -->
      <div class="card">
        <div class="card-body">
          <p>Please input your endpoint token below.</p>
          <div class="form-group">
            <label class="form-label" for="email">Endpoint Token:</label>
            <input type="email" id="email" class="form-input">
          </div>
        </div>
        <div class="card-footer" style="margin-left: auto;
          margin-right: auto;
          width: fit-content;display: flex;">
          <button class="button button-primary" disabled>Login</button>
        </div>
      </div>
    </div>
  </div>
    <br>
    <br>


  <footer class="bg-secondary text-white pl-xs text-center" style="position:fixed;left:0;bottom: 0;width: 100%;">
    P-Uni By <span class="font-ten">loshop</span>
  </footer>

</body>

</html>